@{
    ViewData["Title"] = "Home Page";
}

<body class="HomeBody">
    <div class="text-center">
        <h1 class="display-4">Movie Center</h1>
        <p>This webpage is dedicated to showcasing amazing movies and the actors who star in them!</p>
    </div>
</body>
